{% extends "base.html" %}
{% load static %}

{% block title %}MatteBlack - Coming Soon{% endblock %}

{% block resources %}
    <!-- For index.html -->
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}


{% block content %}
    <!-- For index.html -->
    <div class="container-fluid view-front">
        <div class="container">
            <nav class="navbar sticky-top">
                <a class="navbar-brand matte-black" href="#">MatteBlack</a>
            </nav>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-xl-8 col-sm-12 description">
                    <div class="h1">Stock Analytics</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button type="button" class="btn btn-dark">Try it Free</button>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid view-footer">
        <div class="container">

        </div>
    </div>

{% endblock %}
