{% extends "base.html" %}
{% load static %}

{% block title %}MatteBlack{% endblock %}

{% block resources %}
    <!-- For index.html -->
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}


{% block content %}
    <!-- For index.html -->
    <div class="container-fluid view-front">
        <div class="container d-none d-sm-block">
            <nav class="navbar sticky-top">
                <a class="navbar-brand matte-black" href="{% url 'home' %}">MatteBlack</a>
                <a class="git" href="https://ishaansaxena.github.io/" target="_blank">by Ishaan Saxena</a>
            </nav>
        </div>
        <div class="container d-sm-none reset">
            <nav class="navbar sticky-top">
                <a class="navbar-brand matte-black" href="{% url 'home' %}">MatteBlack</a>
                <a class="git" href="https://ishaansaxena.github.io/" target="_blank">by Ishaan Saxena</a>
            </nav>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-xl-8 col-sm-12 description">
                    <div class="h1">Stock Analytics</div>
                    <p>
                        MatteBlack is an analytics tool for the masses - open source and free. We use data-stream technologies and advanced statistical tools to bring to you a state-of-the-art analytics dashboard with all kinds of different technical indicators for stocks, cryptocurrency, and foreign exchange.
                    </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 's:index' %}" class="btn btn-outline-light">Dashboard</a>
                    {% else %}
                        <a href="{% url 's:index' %}" class="btn btn-outline-light">Login</a>
                        <a href="{% url 'u:register' %}" class="btn btn-outline-light">Request Invitation</a>
                    {% endif %}

                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid view-footer">
        <div class="container">

        </div>
    </div>

{% endblock %}
