{% extends "base.html" %}
{% load static %}

{% block title %}MatteBlack - Coming Soon{% endblock %}

{% block resources %}
    <!-- For index.html -->
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}


{% block content %}
    <!-- For index.html -->
    <div class="container-fluid view-front">
        <div class="container">
            <nav class="navbar sticky-top">
                <a class="navbar-brand matte-black" href="{% url 'home' %}">MatteBlack</a>
            </nav>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-xl-8 col-sm-12 description">
                    <div class="h1">Stock Analytics</div>
                    <p>
                        MatteBlack is an analytics tool for the masses - open source and
                        free. We use technology such as AlphaVantage and Plotly to bring
                        to you a state-of-the-art analytics dashboard with all kinds of
                        different techincal indicators for stocks, crypto currency, and
                        foreign exchange.
                    </p>
                    <a href="{% url 's:index' %}" class="btn btn-outline-light">Try it Free</a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid view-footer">
        <div class="container">

        </div>
    </div>

{% endblock %}
