{% extends "dashboard.html" %}
{% load static %}

{% block title %}MatteBlack{% endblock %}

{% block resources %}
    <!-- For s:index -->
{% endblock %}

{% block btn_nav %}
    <!-- For s:index -->
    <ul class="navbar-nav px-3 d-none d-md-block btn-nav">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign Out</a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <!-- For s:index -->
    <div class="sidebar-heading h6 indent">Tracked Symbols</div>
    <ul class="nav flex-column no-icon">
        <li class="nav-item"><a class="nav-link" href="{% url 's:stock' symbol='GOOG' %}">GOOG</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 's:stock' symbol='MSFT' %}">MSFT</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 's:stock' symbol='APLL' %}">APLL</a></li>
        <li class="nav-item"><a class="nav-link" href="#">STOCH</a></li>
        <li class="nav-item"><a class="nav-link" href="#">RSI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">ADX</a></li>
        <li class="nav-item"><a class="nav-link" href="#">CCI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">AROON</a></li>
        <li class="nav-item"><a class="nav-link" href="#">BBANDS</a></li>
        <li class="nav-item"><a class="nav-link" href="#">AD</a></li>
        <li class="nav-item"><a class="nav-link" href="#">OBV</a></li>
    </ul>
{% endblock %}

{% block content %}
    <!-- For s:index -->

{% endblock %}
