{% extends "dashboard.html" %}
{% load static %}

{% block title %}{{ symbol }}{% endblock %}

{% block resources %}
    <!-- For s:stock -->
{% endblock %}

{% block btn_nav %}
    <!-- For s:stock -->
    <ul class="navbar-nav px-3 d-none d-md-block btn-nav">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Track</a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <!-- For s:stock -->
    <div class="sidebar-heading h5">Stock Controls</div>
    <div class="sidebar-heading h6">Time Series</div>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" href="#">Intraday</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Daily</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Weekly</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Monthly</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Batch Stock Quotes</a></li>
    </ul>
    <div class="sidebar-heading h6">Techincal Indicators</div>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#">SMA</a></li>
        <li class="nav-item"><a class="nav-link" href="#">EMA</a></li>
        <li class="nav-item"><a class="nav-link" href="#">MACD</a></li>
        <li class="nav-item"><a class="nav-link" href="#">STOCH</a></li>
        <li class="nav-item"><a class="nav-link" href="#">RSI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">ADX</a></li>
        <li class="nav-item"><a class="nav-link" href="#">CCI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">AROON</a></li>
        <li class="nav-item"><a class="nav-link" href="#">BBANDS</a></li>
        <li class="nav-item"><a class="nav-link" href="#">AD</a></li>
        <li class="nav-item"><a class="nav-link" href="#">OBV</a></li>
    </ul>
{% endblock %}

{% block content %}
    <!-- For s:stock -->
    <!-- <h3>Symbol</h3>
    {{ symbol }}
    <h3>Meta</h3>
    {{ meta_data }}
    <h3>Data</h3>
    {{ data }} -->

{% endblock %}
