{% extends "dashboard.html" %}
{% load static %}

{% block title %}{{ symbol }}{% endblock %}

{% block resources %}
    <!-- For s:stock -->
    <link rel="stylesheet" href="{% static '/css/stock.css' %}">
    <script type="text/javascript" src="{% static '/js/plotly.min.js' %}" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

    <!-- JS/Django interface -->
    <script type="text/javascript" charset="utf-8">
        var sdata = {{ data|safe }};
        var symbol = "{{ symbol }}";
        var trackURL = "{% url 's:track' symbol=symbol %}";
    </script>
{% endblock %}

{% block btn_nav %}
    <!-- For s:stock -->
    <ul class="navbar-nav px-3 d-none d-md-block btn-nav">
        <li class="nav-item text-nowrap">
            <a id="track" class="nav-link" href="#">Track</a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <!-- For s:stock -->
    <div class="sidebar-heading h5">Stock Controls</div>
    <div class="sidebar-heading h6 indent">Time Series</div>
    <ul class="nav flex-column no-icon">
        <li class="nav-item">
            <a class="nav-link" href="{% url 's:timeseries' symbol=symbol format='intraday'%}">Intraday</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 's:timeseries' symbol=symbol format='daily'%}">Daily</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 's:timeseries' symbol=symbol format='weekly'%}">Weekly</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 's:timeseries' symbol=symbol format='monthly'%}">Monthly</a>
        </li>
        <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="{% url 's:timeseries' symbol=symbol format='bsq'%}">Batch Stock Quotes</a> -->
        <!-- </li> -->
    </ul>
    <div class="sidebar-heading h6 indent">Techincal Indicators</div>
    <ul class="nav flex-column no-icon">
        <li class="nav-item"><a class="nav-link" href="#">SMA</a></li>
        <li class="nav-item"><a class="nav-link" href="#">EMA</a></li>
        <li class="nav-item"><a class="nav-link" href="#">MACD</a></li>
        <li class="nav-item"><a class="nav-link" href="#">STOCH</a></li>
        <li class="nav-item"><a class="nav-link" href="#">RSI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">ADX</a></li>
        <li class="nav-item"><a class="nav-link" href="#">CCI</a></li>
        <li class="nav-item"><a class="nav-link" href="#">AROON</a></li>
        <li class="nav-item"><a class="nav-link" href="#">BBANDS</a></li>
        <li class="nav-item"><a class="nav-link" href="#">AD</a></li>
        <li class="nav-item"><a class="nav-link" href="#">OBV</a></li>
    </ul>
{% endblock %}

{% block content %}
    <!-- For s:stock -->
    <h1 class="ticker">{{ symbol }}</h1>
    <h2 class="name">{{ Name }}</h2>
    <div class="info-outer">
        <h3 class="info"><span class="info-description">Sector:</span> {{ Sector }}</h3>
        <h3 class="info"><span class="info-description">Industry:</span> {{ Industry }}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="plot-heading">{{ format|title }} Time Series</h4>
            <div id="plot-ts"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-sm-12">
            <h4 class="plot-heading">OHLC Chart</h4>
            <div id="plot-ohlc"></div>
        </div>
        <div class="col-xl-6 col-sm-12">
            <h4 class="plot-heading">Candlestick Chart</h4>
            <div id="plot-candle"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static '/js/plot-global.js' %}" charset="utf-8"></script>
<script src="{% static '/js/plot-ts.js' %}" charset="utf-8"></script>
<script src="{% static '/js/plot-ohlc.js' %}" charset="utf-8"></script>
<script src="{% static '/js/plot-candle.js' %}" charset="utf-8"></script>
<script src="{% static '/js/track.js' %}" charset="utf-8"></script>
{% endblock %}
