// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab')

.reset
    margin: 0
    padding: 0
    line-height: 1

.jo-sans
    font-family: 'jo-sans', sans-serif

.jo-slab
    font-family: 'jo-slab', serif

// Colors (see colors.md for more):
$white: #FFFFFF
$black: #222222
$A200:  #00796B
$A100:  #009688
