@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab')

.reset
    margin: 0
    padding: 0

.jo-sans
    font-family: 'Josefin Sans', sans-serif

.jo-slab
    font-family: 'Josefin Slab', serif

// Colors (see colors.md for more):
$C900:  #263238
$C800:  #37474F
$C700:  #455A64
$C600:  #546E7A
$C500:  #607D8B
$C400:  #78909C
$C300:  #90A4AE
$C200:  #B0BEC5
$C100:  #CFD8DC
$C050:  #ECEFF1
$white: #FFFFFF
$black: #222222
$A200:  #00796B
$A100:  #009688
