@import "_config.sass"

body
    font-size: 0.9rem

.navbar
    .navbar-brand
        @extend .jo-slab
        padding: 0.85rem 1rem 0.65rem 1rem
        font-size: 1rem
        font-weight: bolder
        background-color: rgba($black, 0.5)
        box-shadow: inset -1px 0 0 $black

    .form-control
        padding: 0.75rem 1rem
        border-width: 0
        border-radius: 0
        background-color: transparent

        &:focus
            outline: none
            border-color: transparent
            color: $white
            // background-color: rgba($C050, 1)

    .btn-nav
        @extend .jo-slab
        padding: 0.35rem 0 0.15rem 0
        font-size: 1rem
        font-weight: bolder
        color: $white
        background: $A200

.sidebar
    position: fixed
    top: 0
    bottom: 0
    left: 0
    z-index: 99
    padding: 3rem 0 0 0
    background: red
    box-shadow: inset -1px 0 0 rgba($black, 0.05)

    .sidebar-sticky
        position: sticky
        top: 0
        height: calc(100vh - 3rem)
        padding-top: 0.5rem
        overflow-x: hidden
        overflow-y: auto
        box-shadow: inset -1px 0 10px rgba($black, 0.05)

        .nav
            margin-bottom: 1rem

        .sidebar-heading
            padding-left: 1rem
